---
interface Props extends astroHTML.JSX.HTMLAttributes {
  heading?: string;
}

const { heading, class: styles, ...props } = Astro.props;
---

<h1 class:list={["text-3xl border-b-amber-600 shadow-s border-b-2 px-4 pb-8 md:text-6xl mb-8 text-amber-900", styles]} {...props}>
  {heading ?? <slot />}
</h1>


