---
interface Props extends astroHTML.JSX.HTMLAttributes {
  heading?: string;
}

const { heading, class: styles, ...props } = Astro.props;
---

<h1 class:list={["text-6xl text-neutral-700 mb-10", styles]} {...props}>
  {heading ?? <slot />}
</h1>
