---
interface Props extends astroHTML.JSX.HTMLAttributes {
  heading?: string;
}

const { heading, class: styles, ...props } = Astro.props;
---

<h3 class:list={["text-2xl font-bold leading-8", styles]} {...props}>
  {heading ?? <slot />}
</h3>
