---
import { createAnchor } from "../utils";
import Link from "./Link.astro";

import type { BookData } from "../data/types";

interface Props {
  bookList: BookData[];
}

const { bookList } = Astro.props;
---

<>
  <ul class="nav-list mt-4 mb-8 lg:mb-10 text-xl leading-9">
    {
      bookList.map((book) => {
        let href = "/#" + createAnchor(book.schoolName + " " + book.bookName);

        if (book.path.endsWith("pm") || book.path.endsWith("kd") || book.path.endsWith("dm")) {
          href = book.path;
        }

        return (
          <li class="pl-2  mb-0 pb-2 font-sans">
            <Link href={href} text={book.bookName} />
          </li>
        );
      })
    }
  </ul>
</>
