---
import { createAnchor, getSchoolPathFilePath } from "../utils";
import Link from "./Link.astro";
import H3 from "./H3.astro";
import type { BookData } from "../data/types";

interface Props {
  bookData: BookData[];
}

const { bookData } = Astro.props;

const filteredBookData = bookData.filter((book) => !(book.path.endsWith("pm") || book.path.endsWith("dm") || book.path.endsWith("kd")));
---

<Fragment>
  {
    filteredBookData.map((book) => {
      const { schoolName, bookName, path, data } = book;
      const hasRuleClass = data.some((rule) => rule.rule_class);

      return (
        <section
          id={createAnchor(schoolName + " " + bookName)}
          class="mt-4 mb-8 lg:my-11 bg-neutral-200 bg-opacity-30 p-6 rounded-xl"
        >
          <H3>{schoolName + " " + bookName}</H3>
          <ul class="my-4 text-xl text-neutral-800 columns-3xs gap-8">
            {data.map((rule) => {
              const { rule_class, rule_no, book } = rule;
              const booktitle = book.split(" ");
              const title = hasRuleClass
                ? `${rule_class} ${rule_no}`
                : `${booktitle[booktitle.length - 1]} ${rule_no}`;

              return (
                <li class="mb-4">
                  <Link
                    href={getSchoolPathFilePath(path) + "/" + rule.file}
                    text={title}
                  />
                </li>
              );
            })}
          </ul>
        </section>
      );
    })
  }
</Fragment>
