---
import { basePath } from "../utils";
---
<nav class="fixed top-10 left-8">
    <a
      href={basePath}
      class="text-red-900 hover:text-amber-700 no-underline uppercase border-stone-300 border-2 py-2 px-4 rounded-full hover:shadow-md hover:border-amber-600 bg-stone-100"
    >
    Index</a>
  </nav>