---
interface Props {
  content: string;
  styles?: string;
}

const { content, styles } = Astro.props;

const noteExtractionPattern = new RegExp("(^.*?)<note>(.*?)</note>(.*)");

const hasNote = content.includes("<");

const [, start, note, end] = content.match(noteExtractionPattern) ?? [];
---

<Fragment>
  {
    hasNote ? (
      <p class:list={["text-2xl leading-9 py-2", styles]}>
        {start}

        <span
          tabindex="0"
          class="inline-block note-wrapper relative text-3xl text-amber-600 ml-1"
        >
          <i class="note">
            <span
              class="max-w-[85ch] py-4 mx-4 md:mx-auto"
              style={{ display: "inherit" }}
            >
              {note}
            </span>
          </i>
          *
        </span>

        {end}
      </p>
    ) : (
      <p class:list={["text-2xl leading-9 py-2", styles]}>{content}</p>
    )
  }
</Fragment>

<style>
  .note {
    display: none;
  }

  .note-wrapper:focus .note,
  .note-wrapper:hover .note {
    display: inline-block;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-inline: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #23262d;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow:
      7.1px 6.7px 5.3px rgba(0, 0, 0, 0.016),
      23.9px 22.3px 17.9px rgba(0, 0, 0, 0.024),
      107px 100px 80px rgba(0, 0, 0, 0.04);
    font-weight: bold;
    font-size: 1rem;
  }
</style>
