---
import { basePath } from "../utils";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  isIndexPage?: boolean;
}

const { title, isIndexPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Chinese Vinaya translations" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${basePath}/favicon_io/favicon.ico`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class:list={[
      "bg-stone-100 text-neutral-700  mx-4 md:mx-auto sm:my-16 lg:my-24",
      isIndexPage ? "max-w-[920px]" : "max-w-[85ch]",
    ]}
  >
    <slot />
  </body>
</html>
